# Ignore node_modules everywhere
**/node_modules
node_modules

# Ignore build & dependency-related files
**/dist
dist
**/.turbo
**/.yarn
**/.next
**/.cache
**/.parcel-cache
**/.serverless
**/.vercel
**/coverage

# Ignore local environment & sensitive files
# **/.env.local
# **/.env.development
# **/.env.test
# .env
# .env.*

# Ignore Docker-related files
Dockerfile
docker-compose.*
.dockerignore

# Ignore logs
**/logs
**/*.log
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/pnpm-debug.log
**/.pnpm-store

# Ignore system files
**/.DS_Store
**/.vscode
**/.idea
**/Thumbs.db
**/desktop.ini
**/._*
**/.git
**/.gitignore
